# git files
.git/

# husky scripts
.husky/

# ci/cd
.github/

# documentation
docs/

# bash scripts
scripts/

# dependencies
node_modules/

# utilities
utils/

# local testing
test/
misc/
dist/misc/
dist/test
dist/tests

# typescript source code
src/

# configuration files
.editorconfig
.gitattributes
.eslintrc.js
tsconfig.json

# ignore lists
.gitignore
.npmignore

# to reduce the final package size
package-lock.json
examples/
