# git & github files
.git/
.github/

# husky scripts
.husky/

# ci/cd
.github/

# documentation & changelog
docs/
changelog.md

# bash scripts
scripts/

# dependencies
node_modules/

# utilities
utils/

# testing
test/
tests/
misc/
dist/misc/
dist/test
dist/tests
dist/typings/tests

# typescript source code
src/

# configuration files
.editorconfig
.gitattributes
.eslintrc.js
tsconfig.json
jest.config.js
commitlint.config.js

# ignore lists
.gitignore
.npmignore

# to reduce the final package size
package-lock.json
bun.lockb
examples/
